@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --main_gradient: linear-gradient(0deg, #12191b, #3d6070 100%);
    --oceanblue: #304d6e;
    --greenishblue: #006d8f;
    --greenishblue2: #094f64;
    --highlights: #00c3ff;
    --textwhite: #edf0f1;
    --textlight: #dddddd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: var(--main_gradient);
}



header{
    background-color: #202020;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 8vw;
    box-shadow: 0 0 10px;
    transition-property: box-shadow;
    transition-duration: 400ms;
    transition-delay: 50ms;
}
header:hover{
    box-shadow: 0 0 20px;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 15px;
}
.nav_links a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--textlight);
    text-decoration: none;
    transition: all, 200ms;
}
.nav_links a:hover{
    color: var(--highlights);
    transform: scaleX(150%);
}
.logo{
    scale: 90%;
    opacity: 95%;
    margin-right: auto;
    margin-left: -3vw;
}
.login_button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--greenishblue);
    color: var(--textwhite);
    padding: 9px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 40px;
    transition: background-color 200ms;
}
.login_button:hover{
    background-color: var(--greenishblue2);
}
.admin_button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background-color: darkgoldenrod;
    color: var(--textwhite);
    padding: 9px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 40px;
    transition: background-color 200ms;
}
.admin_button:hover{
    background-color: rgb(138, 102, 11);
}


.main_sectoin{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10vh;
    margin-top: 5vh;
    background-image: url("../art/background1.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position:center;
    background-color: #202020;
    opacity: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition-duration: 200ms;
    transition-delay: 50ms;
}
.main_sectoin:hover{
    opacity: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.main_sectoin h1{
    font-size: 70px;
    font-weight: 200;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
}
.main_sectoin p{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
    color: var(--textlight);
}
.main_button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 9px 25px;
    background-color: var(--greenishblue);
    color: var(--textwhite);
    text-decoration: none;
    border: none;
    border-radius: 20px;
    transition: color, 200ms;
}
.main_button:hover{
    background-color: var(--greenishblue2);
}
footer {
    color: #fff;
    position:absolute;
    bottom:0%;
    right:10px;
    opacity: 50%;
}
.error{
    color: red;
    position: absolute;
    top: 50vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    left: calc(50% - 260px);
}